#app-navigation li {
	width: auto;
}
#app-navigation li > a {
	display: block;
	width: auto;
	line-height: 18px;
	padding: 0 0px;
	-moz-box-sizing: border-box;
	/* box-sizing: border-box; */
	/* white-space: nowrap; */
	/* text-overflow: ellipsis; */
	/* color: #333; */
}
#app-navigation > ul {
	height: auto !important;
	overflow: initial;
}
#searchresults {
	display: none !important;
}
.ui-widget-overlay.ui-front {
	top: 45px;
}
tbody tr:hover, tr:active {
	background: none !important;
}
#app-navigation-toggle {
	z-index: 2;
}
#app-navigation {
	overflow: auto;
}
ul#tagList {
	/*	padding-bottom: 70px;*/
	
}
.tag i {
	position: absolute;
	padding: 0px;
	right: 14px;
	top: 10px;
}
#searchTagContainer {
	padding-top: 15px;
	top: 45px;
	z-index: 25;
	padding-bottom: 15px;
	background: #f8f8f8;
	width: 241px;
}
#searchTagContainer > span {
	padding-left: 15px;
	margin-top: 7px;
	display: block;
	font-weight: bold;
}
#searchTagContainer ul.tagit li.tagit-new {
	padding: .25em 4px .25em 0;
	width: 90px !important;
}
#searchTagContainer ul.tagit {
	width: 215px;
	margin-left: 15px;
}
#tabs-01 ul.tagit.ui-widget.ui-widget-content.ui-corner-all {
	max-width: 375px;
}
/*.tag {
 -moz-border-radius: 6px;
 border-radius: 6px;
 -webkit-border-radius: 6px;
 border: 1px solid #CAD8F3;
 background: none;
 background-color: #DEE7F8 !important;
 width: auto !important;
 font-weight: normal;
 float: left;
 padding: 5px 8px 5px 8px;
 margin: 5px;
 cursor: pointer;
 }*/
#tagList .tag {
	height: 50px;
	width: 250px;
	vertical-align: middle;
	padding-top: 15px;
	cursor: pointer;
	padding-left: 12px;
	background-color: #f8f8f8;
}
#pwList .tag {
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-border-radius: 11px;
	border: 1px solid rgba(239, 239, 239, 1.0);
	background: none;
	background-color: rgba(239, 239, 239, 1.0) !important;
	width: auto !important;
	font-weight: normal;
	float: right;
	padding: 0px 8px 0px 8px;
	margin: 0 4px;
	cursor: pointer;
	line-height: 21px;
	line-height: 19px;
	margin-top: 4px;
}
.tag span {
	cursor: pointer;
}
.tag:hover {
	background-color: #bbcef1 !important;
	border-color: #6d95e0;
}
.nav-trashbin {
	height: 50px;
	position: fixed;
	bottom: 45px;
	width: 241px;
	vertical-align: middle;
	padding-top: 15px;
	cursor: pointer;
	padding-left: 12px;
	background-color: #f8f8f8;
	border-top: 1px solid #ccc;
}
.nav-trashbin:hover {
	background: #c9c9c9;
}
.nav-trashbin a {
	position: absolute;
}
#ocPassman {
	height: 100%;
	width: 100%;
}
#rootMessage {
	width: 400px;
	margin: 0 auto;
}
div#topContent {
	margin-left: 20px;
	background: #f8f8f8;
	height: 35px;
}
#menu ul {
	margin-left: 1.3em;
}
.menuContainer {
	width: 250px;
	height: 100%;
	float: left;
	background-color: #f8f8f8;
	border-right: 1px solid #ccc;
}
.jstree-default .jstree-themeicon {
	background-image: url('../../../core/img/filetypes/folder.svg') !important;
	background-position: center center;
	background-size: contain;
	height: 25px !important;
	width: 25px !important;
}
li.ui-state-default {
	border: none !important;
}
.ui-state-default i.jstree-themeicon {
	background: url('../img/folder-open.png') !important;
	border: none !important;
}
#menu .ui-state-default {
	border: none;
	background: lightblue;
}
/*
 #menu li {
 background: url(../img/folder_closed.png) no-repeat;
 padding-left: 20px;
 background-position-y: 2px;
 }
 #menu li:hover {
 background: url(../img/folder_open.png) no-repeat;
 }
 #menu .open {
 background: url(../img/folder_open.png) no-repeat !important;
 }*/
div#ocpContent {
	position: absolute;
	left: 251px;
	width: 76%;
	height: 100%;
}
#addItem, #editItem, #deleteItem {
	width: 95px;
	float: left;
	color: #555;
}
#addItem{
	width: 120px;
	white-space: nowrap; 
}
#addItem:disabled, #editItem:disabled, #deleteItem:disabled {
	display: none;
}
#pwList {
	margin-left: 1px;
	overflow: auto;
	/*margin-top: 10px;*/
}
#pwList li {
	list-style: none;
	border-bottom: 1px solid #ddd;
	height: 30px;
	cursor: pointer;
	line-height: 30px;
}
#pwList li > span:first-child {
	float: left;
	padding-left: 20px;
/*	background-image: url('../img/key.png');*/
	background-repeat: no-repeat;
	background-position: 3px 6px;
	margin-left: 5px;
}
#pwList li div {
	float: left;
	cursor: pointer;
}
#pwList li > i {
margin-right: 10px;
}
#pwList li:hover {
	background: #f0f0f0;
}
.rowTools div {
	display: inline-block;
	height: 30px;
}
div#infoContainer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	border-top: 1px solid #ccc;
	background: rgba(239, 239, 239, 1.0);
	padding-bottom: 35px;
	padding-top: 10px;
	height: 190px;
	overflow: auto;
}
td.td_title {
	padding-right: 15px;
}
.icon-paste {
	background: url(../img/copy.png) no-repeat;
	background-position: center center;
}
#pwList .row-active {
	background: #E2E2E2 !important;
	font-weight: bold;
	list-style: none;
	min-width: 150px;
}
#pwList #actions {
	float: right;
	margin-right: 20px;
	margin-top: 3px;
	position: absolute;
	right: 0px;
}
#actions span:not(.icon) {
	position: relative;
	bottom: 8px;
	margin-right: 10px;
	font-weight: normal;
}
#copyPW, #showPW {
	color: rgb(0, 102, 255);
}
#copyPW:hover, #showPW:hover {
	border-bottom: 1px solid rgb(0, 102, 255);
	cursor: pointer;
}
.link {
	color: rgb(0, 102, 255) !important;
	cursor: pointer;
}
.link:hover {
	text-decoration: underline;
}
.link.loadFile {
	margin-right: 8px;
	display: block;
}
#infoContainer span.ui-icon.ui-icon-carat-1-e {
	margin: 0px;
}
#item_tabs label {
	display: block;
}
#item_tabs input, #item_tabs textarea {
	width: 95%;
}
#item_tabs #customFieldName, #item_tabs #customFieldValue {
	width: 85%;
}

#item_tabs input[type="checkbox"] {
	width: 30px;
}
#pwTools {
	font-size: 9px;
	text-align: center;
	width: 100%;
	margin-left: 10px;
}
#pwTools span{
	cursor: pointer !important;
}
#pwTools label {
	display: inline-block;
}
#pwTools input {
	width: 30px;
}
.icon {
	height: 24px;
	width: 24px;
	display: inline-block;
}
label[for="item_login"] {
	margin-top: 10px;
}
#tabs-02 > div {
	margin-bottom: 10px;
}
#visible_pw {
	display: none;
	margin-left: 10px;
	font-weight: bold;
}
#showPW {
	margin-left: 10px;
}
#complex_attendue {
	color: #D04806;
	font-weight: bold;
}
.save, .cancel {
	width: 60px;
	float: right;
	text-align: center;
}
#fileList li {
	height: 24px;
}
.addCFieldRow {
	padding-top: 5px;
}
span#addCField {
	height: 24px;
	border: 1px solid rgba(190,190,190,.9);
	background-color: rgba(240,240,240,.9);
	cursor: pointer;
	border-radius: 3px;
}
span#addCField:hover {
	background-color: rgba(250,250,250,.9);
}
div#passwordStrengthDiv {
	font-size: 14px;
	margin-left: 70px;
	margin-top: 10px;
}
.error {
	background: #fed7d7;
	border: 1px solid #f00;
	list-style-indent: inside;
	margin: 0 0 0.5em;
	padding: 1em;
}
#existingFields input {
	width: 120px;
}
li.ui-menu-item .description {
	font-size: 13px;
	color: #A5A5A5;
}
.ui-autocomplete {
	max-height: 300px;
}
.filetype-image {
	background-image: url('../img/filetypes/image.png');
	height: 16px;
	width: 16px;
	display: inline-block;
	background-size: cover;
}
.filetype-file {
	background-image: url('../img/filetypes/file.png');
	height: 20px;
	width: 20px;
	display: inline-block;
	background-size: cover;
}
.loadingItem {
	display: none;
	position: absolute;
	left: 50%;
	top: 70px;
}
.loadingItem > div{
	position: relative; 
	left: -50%; 
}
li.fileListItem {
	width: 100%;
	height: 25px;
}
li.fileListItem .icon-delete {
	cursor: pointer;
}

input.jstree-rename-input {
	line-height: 25px !important;
	height: 25px !important;
	padding-left: 3px !important;
}
.copy {
	margin-left: 10px;
	color: rgb(0, 102, 255);
}
.copy:hover {
	text-decoration: underline;
}
/*
 #popupDiv{
 width:300px;
 height:300px;
 background:red;
 position:fixed;
 top:50%;
 left:50%;
 margin-top:-150px;
 margin-left:-150px;
 }*/

/*First run wizard */

.prev, .next {

	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
}
.prev:hover, .next:hover {

	text-decoration: none;
}
.prev {
	float: left;
}
.next {
	float: right;
}
#steps {
	list-style: none;
	width: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
#steps li {
	font-size: 24px;
	float: left;
	padding: 10px;
	color: #b0b1b3;
}
#steps li span {
	font-size: 11px;
	display: block;
}
#steps li.current {
	color: #000;
}
#makeWizard {
	background-color: #b0232a;
	color: #fff;
	padding: 5px 10px;
	text-decoration: none;
	font-size: 18px;
}
#makeWizard:hover {
	background-color: #000;
}

.folder-icon {
	background-image: url('../../../core/img/filetypes/folder.svg') !important;
	background-position: center center;
	background-size: contain;
	height: 20px !important;
	width: 20px !important;
}

legend {
	font-size: 18px;
	margin: 0px;
	padding: 10px 0px;
	color: #b0232a;
	font-weight: bold;
}

@media (max-width: 768px) {
	div#topContent {
		margin-left: 50px;
		height: 44px;
	}
	#pwList .tag {
		display: none;
	}
}