#app-navigation li {
	width: auto;
}
#app-navigation li > a {
	display: block;
	width: auto;
	line-height: 18px;
	padding: 0 0px;
	-moz-box-sizing: border-box;
	/* box-sizing: border-box; */
	/* white-space: nowrap; */
	/* text-overflow: ellipsis; */
	/* color: #333; */
}
#app-navigation > ul {
	height: auto !important;
	overflow: initial;
}
#searchresults {
	display: none !important;
}
.ui-widget-overlay.ui-front {
	top: 45px;
}
tbody tr:hover, tr:active {
	background: none !important;
}
#app-navigation-toggle {
	z-index: 2;
}
#app-navigation {
	overflow: auto;
}
